
select {
  &:focus {
    outline: none;
  }
}div.mm-dropdown {

   width: 100%;

   position: relative;
 }

div.mm-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  right: 0;
  width: 80px;
  z-index: 5;
  background-color: #3d404b;

  color: rgba(255,255,255,.88);
  border-radius:4px ;
  li {
    padding: 3px 10px !important;
    &:not(:last-of-type) {
      border-bottom: 1px solid #62646d;
    }
    img {vertical-align: middle}
  }
}

div.mm-dropdown ul li,
div.mm-dropdown div.textfirst {
  padding: 0;
}
.textfirst {
  height: 44px;
  padding: 22px 15px 0 7px !important;
  background-color: #3d404b;
  border: 1px solid #62646d;
  border-left: none;
  border-right: none;
  caret-color: #fff;
  color: rgba(255,255,255,.88);
  line-height: 1;
  width: 80px;
  cursor: pointer;
  position: relative;
  font-size: 12px;
  &:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-left-width: 4px;
    border-right-width: 4px;
    border-top: 4px solid rgba(255,255,255,0.68);
    right: 10px;
    top: 20px;
    z-index: 4;
  }
  img.down  {
    transform:translate(10px,-5px);
  }
  img:not(.down) {
    vertical-align: middle;
    transform:translateY(-2px);
  }
}
div.mm-dropdown div.textfirst img.down {
  vertical-align: middle;
}

div.mm-dropdown ul li:last-child {
  border-bottom: 0;
}
div.mm-dropdown ul  {
  display: none;
  li  {
    cursor: pointer;
  }
}

div.mm-dropdown ul li.main {
  display: block;
}

div.mm-dropdown ul li img {
  width: 20px;
  height: 20px;
}
