.mw__data .mw-wrapper{
  width: 200px;
  margin: 50px;
  font-size: 13px;
  * {
    user-select: none;
  }
  span {
    display: flex;
    flex-direction: row;
  }

  main {
    padding: 0;
    .icons-inverse {
      margin-left: 10px;
      margin-top: 3px;
    }
  }

  .row {
    display: flex;
    .col {
      min-height: 44px;
      padding: 15px 0 0 15px;
      min-width: 160px;

      .switcher-wrapper {
        transform: translateY(3px);
        margin-right: 7px;
      }

      .checkbox-container {
        transform: translateY(3px);
      }

      & > span {
        font-weight: bold;
        margin-bottom: 18px;
      }
    }
  }

}
