.mw__extended_settings .mw-wrapper{
  margin: 50px;
  width: 950px;
  main  {
    padding: 10px 0;
  }
  .search {
    width: 100%;
    margin-bottom: 12px;
    position: relative;
    padding: 0 15px;

    // Search
    .input-search {
      width: 100%;
      padding-left: 40px;
      box-sizing: border-box;
      font-size: 13px;
      border-radius: 4px;

      height: 44px;
      background-position:  20px center;
      background-repeat: no-repeat;
      &::placeholder {
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;
        display: flex;
        align-items: center;
      }
    }

  }
  .tabs_manager {
    height: 50px;
    background: #3D404B;
    border-top: 1px solid #2C2F38;
    padding-top:  14px;
    padding-left: 15px;
    color:  rgba(255,255,255,0.86);
    span {
      margin-right: 22px;
      font-weight: bold;
      cursor:pointer;
      &:hover {
        color:rgba(255,255,255,0.39)
      }
      &:active {
        color:  rgba(255,255,255,0.86);
      }
      &.active {
        color: #9BAAD4;
        svg {
          path {
            fill: #9BAAD4;
          }
        }
      }

    }
    svg {
      margin: 0 4px;
      transform:translateY(1px);
      path {
        fill: rgba(255,255,255,0.39);
      }
    }
  }

  main[data-index='2'] {
    .flexible_wrapper {
      display: flex;
      flex-direction: row;
    }
    .checkbox-container {
      padding-left: 55px;
    }
    .font-wrapper {
      margin-left: 57px;
      padding-top: 11px;
      width: calc(100% - 57px);
    }
  }
  main[data-index='3'] {
    .column[data-column='6'],
    .column[data-column='7'] {
        .mime_wrapper {
          input {
            margin-left: -10px !important;
            padding-left: 9px !important;
          }
        }
        .column_head {
        color: rgba(255, 255, 255, 0.48);
        }
        .mime_wrapper {
          display: flex;
          flex-direction: column;
           & > div {
            display: inline-block;
          }
         }
    }

  }
  main[data-index='4'] {

  }
  main[data-index='5'] {

  }
  main {
    display: none;
    min-height: 624px;
    &.active {
      display: block;
    }
  }

  footer {
    display: none;
    &.active {
      display: flex;
    }
  }
}

.mime_wrapper {
  margin: -11px 0 0 -13px;
  width: calc(100% + 27px);
  & > div {
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    .mime_nav {
      opacity: .7;
      position: relative;
      z-index: 10;
    }
    input {
      margin-left: -80px;
      width: calc(100% + 25px);
      border-right: none !important;
      padding-left: 79px;
      padding-top: 2px;
    }
    &:hover {
      .mime_nav {
        opacity: 1;
      }
    }
  }
  & > div:not(:last-of-type) {
    border-bottom: 1px solid #62646d;
  }

  .mime_nav {
    display: flex;
    flex-direction: row;
    padding-top: 8px;
    margin-right: 5px;
    & > div {
      width: 28px;
      height: 24px;
      text-align: center;
      border-radius:5px;
      margin: 0 2px;
      cursor: pointer;
    }

    .plus {
      border: 1px solid #7FC37B;
      color: #B0DDB8;
      background: #486556;
      line-height: 22px;
    }
    .minus {
      border: 1px solid #F27E66;
      color: #F2AEAE;
      line-height: 20px;
      background: #734950;
      &.dissabled {
        opacity: 0.5 !important;
        cursor: auto;
      }
    }
  }
}

.trashIcon {
  width: 28px;
  height: 24px;
  background: url(../images/extended/trashD.svg) center center no-repeat;
  transform: translate(6px, 8px);
  cursor: pointer;
}
