.mw__rename_session {
  width: 500px;
  margin: 50px;
  input[type='text'] {
    height: 44px;
    width: 100%;
    padding: 5px 12px 5px 12px;
    border-radius: 4px;
    box-sizing: border-box;
  }
  main {
    padding-top: 10px;
  }
}