.mw__timemachine {
  .mw-wrapper {
    width: 600px;
  }
  main[data-index='0']{

    .tbody,  {
      & > div {
        & > div {
          &:nth-of-type(1) {
            width: 57px;
             border-right: 1px solid #4F5158;
             .checkbox-container {
               margin-right: 30px;
             }
          }
          &:nth-of-type(2) {
            width: 67px;
            border-right: 1px solid #4F5158;
            justify-content: flex-end;
            padding: 0 14px;
          }
          &:nth-of-type(3) {
            width: 470px;
            padding: 0 14px;
              justify-content: space-between;
          }


        }
      }
    }
  }
}
