
.dark-mode {
  background: #23262C;
}

.light-mode {
  background: linear-gradient(0deg, rgba(74, 99, 173, 0.08), rgba(74, 99, 173, 0.08)), #ECECEC;
}

.dark-mode {
  .comment {
    &_nav {
      div {
        font-size: 11px;
        font-weight: 600;
        color: #B4BFDF;
      }
    }
    .session-colors-wrapper {
      border-color: #62646d;
      background: #3d404b;
      .light {
        display: none;
      }
    }
    .session-color-option.active:before {
      background: #3d404b;
    }
  }

  .time .label{
    .textfirst {
      border-left: 1px solid rgb(98, 100, 109);
    }
  }
  .selectlabel {
    color: rgba(255, 255,255, 0.48);
  }
}

.light-mode {

  .input-wrapper, .select{
    label {
      color: rgba(0, 0, 0, 0.48);
    }
  }
  .time .label{
    .textfirst {
      border-left: 1px solid rgb(98, 100, 109);
    }
  }
  .comment .session-colors-wrapper .session-color-option.dark{
    display: none;
  }
  .input-ip, {
    background-image: url(../images/mw/check-white.svg) !important;
  }


  input, textarea {
    background-color: white;
    border: 1px solid #BBBBBB;
    caret-color: rgba(0, 0, 0, 0.48);
    color: #525252;

    &::placeholder {
      color: rgba(0, 0, 0, 0.48);
    }
    &:focus {
      border-color: #4A63AD !important;
      transition-duration: .3s;
    }


  }
  input:not(.no-label) {
    color: rgba(0, 0, 0, 0.87) ;
  }

  .mm-dropdown {
    ul {
      background-color: white;
      border-color: #D7D7D7;
      color: #525252;
    }
  }

  .textfirst {
    background-color: white;
    border-color: #BBBBBB !important;
    color: #525252 !important;
  }

  .mw__row_1 {
    .label-img {
      background: #F3E7F3;
      border: 1px solid #C387C5;
      z-index: 2;
    }
  }

  .mw__row_3, .mw__row_6 {
    span {
      color: rgba(0, 0, 0, 0.48);
    }
  }

  .no-label {
    color: rgba(0, 0, 0, 0.48) !important;
  }

  .label-img {
    background: #F0F0F1;
    border-color: #BBBBBB;
  }


  .content_box__description {

    h3 {
      color: rgba(0, 0, 0, 0.87);
    }

    &_1 {
      span:nth-of-type(1) {
        color: rgba(0, 0, 0, 0.48);
      }

      span:nth-of-type(2) {
        color: #3E803A;
      }

      span:nth-of-type(3) {
        color: #3E803A;
      }

      span:nth-of-type(4) {
        color: #CB540E;
      }

      span:nth-of-type(5) {
        color: rgba(0, 0, 0, 0.48);
      }
    }

    &_2 {
      span {
        display: flex;
        flex-direction: row;
      }

      span:nth-of-type(1) {
        color: rgba(0, 0, 0, 0.48);
      }

      span:nth-of-type(2) {
        color: rgba(0, 0, 0, 0.48);
      }
    }
  }

  .comment {

    &_nav {
      div {
        font-size: 11px;
        font-weight: 600;
        color: #2A618F;
      }
    }
  }
  .content_box .mw__row_2 .input-dns {
    background-image: url('../images/mw/check-white.svg');
  }
}

.dark-mode {
  #modebtn {
    background: white;
  }
}

.light-mode {
  #modebtn {
    background: rgba(0, 0, 0, 0.86);
  }
}

.dark-mode {
  .icons-inverse {
    .icon-black {
      display: none !important;
    }
  }

  .mw {
    background: #2C2F38;
    color: rgba(255, 255, 255, 0.89);

    header, footer {
      background: #3D404B;

      h3 {
        color: rgba(255, 255, 255, 0.89);
      }
    }

    footer {
      border-top: 1px solid #62646D;
    }
  }

}

.light-mode {
  .icons-inverse {
    .icon-white {
      display: none !important;
    }
  }

  .mw {
    background: linear-gradient(0deg, rgba(74, 99, 173, 0.04), rgba(74, 99, 173, 0.04)), linear-gradient(0deg, #F1F1F1, #F1F1F1), #E9E9EB;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.7), 0px 20px 30px rgba(0, 0, 0, 0.2), 0px 10px 50px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.89);
    label {
      user-select: none;
    }
    header, footer {
      background: white;

      h3 {
        color: rgba(0, 0, 0, 0.87);
      }
    }

    footer {
      border-top: 1px solid #BBBBBB;
    }

  }

  .mw__fingerprints {
    main {
      & > div:nth-of-type(1) {
        border-bottom: 1px solid #BBBBBB;;
        & > div:nth-of-type(1) {
          border-right: 1px solid #BBBBBB;
        }
      }
      & > div:nth-of-type(2) {
        & > div:nth-of-type(1) {
          border-right: 1px solid #BBBBBB;
        }
      }
    }
  }

  .mw__useragent_manager {
    .item--details {
      background: white;
      border: 1px solid  #BBBBBB;
    }
    .tabs_manager {
      background: white;
      border-color:rgba(74, 99, 173, 0.2);
    }

    .item {
      background: white;
      border: 1px solid #E9E9E9;
      &.active {
        background: rgba(74, 99, 173, 0.04);
      }
    }
  }

  .mw__proxy_manager {
    .table {
      background: white;
    }
    .thead>div, .tbody>div>div {

      color: #525252!important;
    }
  }
  .mw__cookie_import {
    .custom-file-upload {
      background: #F0F0F1;
      border: 1px solid #BBBBBB;
      color: #212121;
    }
    .filewrapper .close {
      &:before, &:after {
        background: #EB3E19;
      }
    }
    #holder {
      background: white;
      border: 1px dashed #BBBBBB;
      .bg {
        color: rgba(0, 0, 0, 0.48);
      }
    }
  }

  .mw .search .search_word, .mw .session .search_word {
    border-color: #BBBBBB;
  }

  .table {
    background: white;
    .select .textfirst {
      border-color:#E9E9E9 !important;
    }
  }
  .thead div, .tbody div, .trow>div {
    border-color: #E9E9E9 !important;
    color: #525252!important;
  }
  .trow>div,  .tabs_manager{
    background:white !important;
  }



  .tabs_manager{
    color: rgba(0,0,0,0.89);
    border-color:#E9E9EB !important;
    span {
      color: rgba(0, 0, 0, 0.87);
      &:hover {
        color: rgba(0, 0, 0, 0.48);
      }
    }
    span.active {
      color: #4A63AD;
      svg {
        path {
          fill: #4A63AD;
        }
      }
    }
    svg {
      path {
        fill:rgba(0, 0, 0, 0.48);
      }
    }
  }

  .clone--success {
    background: rgba(0, 0, 0, 0.89);
    color: rgba(255, 255, 255, 0.89);
  }
  .table .trow > div:nth-of-type(2) input {
    border-color: #E9E9E9 !important;
  }
  .tabs_manager span:hover {
    color: rgba(0, 0, 0, 0.39);
  }

  .firstItem {
    input {
      border-top:none;
    }
  }
}


.dark-mode {
  .input-search {
    background-color: #3D404B;
    border: 1px solid #62646D;
    caret-color: white;
    color: rgba(255, 255, 255, 0.89);
    background-image: url("../images/page/search-white.svg");
  }
}
.light-mode {
  .input-search {
    background-color: white;
    border: 1px solid #BBBBBB;
    caret-color:  rgba(0, 0, 0, 0.48);
    color: rgba(0, 0, 0, 0.89);
    background-image: url("../images/page/search-black.svg");
    &::placeholder {
      color: rgba(0, 0, 0, 0.48);
    }
  }
  .flexible_table {
    .column {
      background: white;
      border-color: #E9E9E9;
    }
    .column .column_body > div, .column .column_head {
      border-color: #E9E9E9;
    }
    .textfirst {
      background-color: transparent;
      border-color: transparent !important;
      color: #525252 !important;
    }
    .hover {
      background: rgba(241,241,241,1);
    }
    .checkbox-container input ~ .checkmark {
        background: white;
    }
    .set_status[data-status=true] .setbtn, .check_status .recheck {
      background-color: #E1EDF6;
      border-color:#6AA3D3;
    }
    .check_status {
      &[data-status='not checked'] {
        .status {
          background: url('./../images/proxyTable/wCheckNot.svg') center center no-repeat;
        }
      }
      &[data-status='error'] {
        .status {
          background: url('./../images/proxyTable/wCheckError.svg') center center no-repeat;
        }
      }
      &[data-status='success'] {
        .status {
          background: url('./../images/proxyTable/wCheckSuccess.svg') center center no-repeat;
        }
      }
    }
    .set_status[data-status=true] .status,
    .set_status[data-status=true] .setbtn {
      background-image: url('./../images/proxyTable/wSetTrue.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
    
    .search .clearSearch {
      background: url(./../components/input/wClearSearch.svg);
    }
  }
}
