.dark-mode {
  background: #23262C;
}

.light-mode {
  background: linear-gradient(0deg, rgba(74, 99, 173, 0.08), rgba(74, 99, 173, 0.08)), #ECECEC;
}

.dark-mode {
  .comment {
    &_nav {
      div {
        font-size: 11px;
        font-weight: 600;
        color: #B4BFDF;
      }
    }

    .session-colors-wrapper {
      border-color: #62646d;
      background: #3d404b;

      .light {
        display: none;
      }
    }

    .session-color-option.active:before {
      background: #3d404b;
    }
  }

  .time .label {
    .textfirst {
      border-left: 1px solid rgb(98, 100, 109);
    }
  }

  .selectlabel {
    color: rgba(255, 255, 255, 0.48);
  }
}

.light-mode {
  .mw {
    background: rgba(0, 0, 0, 0.4);
  }

  .input-wrapper,
  .select {
    label {
      color: rgba(0, 0, 0, 0.48);
    }
  }

  .time .label {
    .textfirst {
      border-left: 1px solid rgb(98, 100, 109);
    }
  }

  .comment .session-colors-wrapper .session-color-option.dark {
    display: none;
  }

  .input-ip,
    {
    background-image: url(../images/mw/check-white.svg) !important;
  }


  input,
  textarea {
    background-color: white;
    border: 1px solid #BBBBBB;
    caret-color: rgba(0, 0, 0, 0.48);
    color: #525252;

    &::placeholder {
      color: rgba(0, 0, 0, 0.48);
    }

    &:focus {
      border-color: #4A63AD !important;
      transition-duration: .3s;
    }


  }

  input:not(.no-label) {
    color: rgba(0, 0, 0, 0.87);
  }

  .mm-dropdown {
    ul {
      background-color: white;
      border-color: #D7D7D7;
      color: #525252;
    }
  }

  .textfirst {
    background-color: white;
    border-color: #BBBBBB !important;
    color: #525252 !important;
  }

  .mw__row_1 {
    .label-img {
      background: #F3E7F3;
      border: 1px solid #C387C5;
      z-index: 2;
    }
  }

  .mw__row_3,
  .mw__row_6 {
    span {
      color: rgba(0, 0, 0, 0.48);
    }
  }

  .no-label {
    color: rgba(0, 0, 0, 0.48) !important;
  }

  .label-img {
    background: #F0F0F1;
    border-color: #BBBBBB;
  }


  .content_box__description {

    h3 {
      color: rgba(0, 0, 0, 0.87);
    }

    &_1 {
      span:nth-of-type(1) {
        color: rgba(0, 0, 0, 0.48);
      }

      span:nth-of-type(2) {
        color: #3E803A;
      }

      span:nth-of-type(3) {
        color: #3E803A;
      }

      span:nth-of-type(4) {
        color: #CB540E;
      }

      span:nth-of-type(5) {
        color: rgba(0, 0, 0, 0.48);
      }
    }

    &_2 {
      span {
        display: flex;
        flex-direction: row;
      }

      span:nth-of-type(1) {
        color: rgba(0, 0, 0, 0.48);
      }

      span:nth-of-type(2) {
        color: rgba(0, 0, 0, 0.48);
      }
    }
  }

  .comment {

    &_nav {
      div {
        font-size: 11px;
        font-weight: 600;
        color: #2A618F;
      }
    }
  }

  .content_box .mw__row_2 .input-dns {
    background-image: url('../images/mw/check-white.svg');
  }
}

.dark-mode {
  #modebtn {
    background: white;
  }
}

.light-mode {
  #modebtn {
    background: rgba(0, 0, 0, 0.86);
  }
}

.dark-mode {
  .icons-inverse {
    .icon-black {
      display: none !important;
    }
  }

  .mw-wrapper {
    background: #2C2F38;
    color: rgba(255, 255, 255, 0.89);

    header,
    footer {
      background: #3D404B;

      h3 {
        color: rgba(255, 255, 255, 0.89);
      }
    }

    footer {
      border-top: 1px solid #62646D;
    }
  }

}

.light-mode {
  .icons-inverse {
    .icon-white {
      display: none !important;
    }
  }

  .mw-wrapper {
    background: linear-gradient(0deg, rgba(74, 99, 173, 0.04), rgba(74, 99, 173, 0.04)), linear-gradient(0deg, #F1F1F1, #F1F1F1), #E9E9EB;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.7), 0px 20px 30px rgba(0, 0, 0, 0.2), 0px 10px 50px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.89);

    label {
      user-select: none;
    }

    header,
    footer {
      background: white;

      h3 {
        color: rgba(0, 0, 0, 0.87);
      }
    }

    footer {
      border-top: 1px solid #BBBBBB;
    }

  }

  .mw__fingerprints {
    main {
      &>div:nth-of-type(1) {
        border-bottom: 1px solid #BBBBBB;
        ;

        &>div:nth-of-type(1) {
          border-right: 1px solid #BBBBBB;
        }
      }

      &>div:nth-of-type(2) {
        &>div:nth-of-type(1) {
          border-right: 1px solid #BBBBBB;
        }
      }
    }
  }

  .mw__useragent_manager {
    .item--details {
      background: white;
      border: 1px solid #BBBBBB;
    }

    .tabs_manager {
      background: white;
      border-color: rgba(74, 99, 173, 0.2);
    }

    .item {
      background: white;
      border: 1px solid #E9E9E9;

      &.active {
        background: rgba(74, 99, 173, 0.04);
      }
    }
  }

  .mw__proxy_manager {
    .table {
      background: white;
    }

    .thead>div,
    .tbody>div>div {

      color: #525252 !important;
    }
  }

  .mw__cookie_import {
    .custom-file-upload {
      background: #F0F0F1;
      border: 1px solid #BBBBBB;
      color: #212121;
    }

    .filewrapper .close {

      &:before,
      &:after {
        background: #EB3E19;
      }
    }

    #holder {
      background: white;
      border: 1px dashed #BBBBBB;

      .bg {
        color: rgba(0, 0, 0, 0.48);
      }
    }
  }

  .mw-wrapper .search .search_word,
  .mw-wrapper .session .search_word {
    border-color: #BBBBBB;
  }

  .table {
    background: white;

    .select .textfirst {
      border-color: #E9E9E9 !important;
    }
  }

  .thead div,
  .tbody div,
  .trow>div {
    border-color: #E9E9E9 !important;
    color: #525252 !important;
  }

  .trow>div,
  .tabs_manager {
    background: white !important;
  }



  .tabs_manager {
    color: rgba(0, 0, 0, 0.89);
    border-color: #E9E9EB !important;

    span {
      color: rgba(0, 0, 0, 0.87);

      &:hover {
        color: rgba(0, 0, 0, 0.48);
      }
    }

    span.active {
      color: #4A63AD;

      svg {
        path {
          fill: #4A63AD;
        }
      }
    }

    svg {
      path {
        fill: rgba(0, 0, 0, 0.48);
      }
    }
  }

  .clone--success {
    background: rgba(0, 0, 0, 0.89);
    color: rgba(255, 255, 255, 0.89);
  }

  .table .trow>div:nth-of-type(2) input {
    border-color: #E9E9E9 !important;
  }

  .tabs_manager span:hover {
    color: rgba(0, 0, 0, 0.39) !important;
  }

  .firstItem {
    input {
      border-top: none;
    }
  }
}


.dark-mode {
  .input-search {
    background-color: #3D404B;
    border: 1px solid #62646D;
    caret-color: white;
    color: rgba(255, 255, 255, 0.89);
    background-image: url("../images/page/search-white.svg");
  }
}

.light-mode {
  .input-search {
    background-color: white;
    border: 1px solid #BBBBBB;
    caret-color: rgba(0, 0, 0, 0.48);
    color: rgba(0, 0, 0, 0.89);
    background-image: url("../images/page/search-black.svg");

    &::placeholder {
      color: rgba(0, 0, 0, 0.48);
    }
  }

  .flexible_table {
    .column {
      background: white;
      border-color: #E9E9E9;

      input:focus {
        background: #f7f8f9;
        border-color: #a2a2a2 !important;
      }
    }

    .column .column_body>div,
    .column .column_head {
      border-color: #E9E9E9;
    }

    .textfirst {
      background-color: transparent;
      border-color: transparent !important;
      color: #525252 !important;
    }

    .hover {
      background-color: rgba(241, 241, 241, 1);
    }

    .checkbox-container input~.checkmark {
      background: white;
    }

    .set_status[data-status=true] .setbtn,
    .check_status .recheck {
      background-color: #E1EDF6;
      border-color: #6AA3D3;
    }

    .check_status {
      &[data-status='not checked'] {
        .status {
          background: url('./../images/proxyTable/wCheckNot.svg') center center no-repeat;
        }
      }

      &[data-status='error'] {
        .status {
          background: url('./../images/proxyTable/wCheckError.svg') center center no-repeat;
        }
      }

      &[data-status='success'] {
        .status {
          background: url('./../images/proxyTable/wCheckSuccess.svg') center center no-repeat;
        }
      }
    }

    .set_status[data-status=true] .status,
    .set_status[data-status=true] .setbtn {
      background-image: url('./../images/proxyTable/wSetTrue.svg');
      background-repeat: no-repeat;
      background-position: center;
    }

    .search .clearSearch {
      background: url(./../components/input/wClearSearch.svg);
    }
  }

  .mw__config_manager main {

    textarea:read-only,
    input:read-only {
      color: rgba(0, 0, 0, 0.48);
      user-select: none;
    }
  }

  .mime_wrapper {

    &>div:not(:last-of-type) {
      border-bottom: 1px solid #E9E9E9;
    }

    .mime_nav {
      .plus {
        border: 1px solid #7FC37B;
        color: #3E803A;
        background: #E5F3E5;
      }

      .minus {
        border: 1px solid #F27E66;
        color: #EB3E19;
        background: #FCDFD9;
      }
    }
  }

  .mw__extended_settings .mw-wrapper main[data-index="3"] {

    .column[data-column="6"] .column_head,
    .column[data-column="7"] .column_head {
      color: rgba(0, 0, 0, 0.48);
    }
  }

}

//error popup
.light-mode {

  .error-wrap {
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
  }

  .error {
    &__text {
      color: rgba(0, 0, 0, 0.87);
    }
  }

  .scroll-wrap {
    &::-webkit-scrollbar-track {
      background-color: #FFFFFF;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.24);
    }
  }
}

//emulator popup
.light-mode {
  .emulator-text {
    color: rgba(0, 0, 0, 0.87);
  }

  .emulator-sub-text {
    color: rgba(0, 0, 0, 0.48);
  }

  .emulator-table,
  .emulator-field {
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
  }

  .emulator-link {
    color: rgba(0, 0, 0, 0.87);
    border-bottom: 1px solid #D3D3D3;
  }

  .checkmark-text {
    color: rgba(0, 0, 0, 0.87);
  }
}

//session popup
.light-mode {
  .session-row {
    border-bottom: 1px solid #FFFFFF;
  }

  .session-text,
  .session-name {
    color: rgba(0, 0, 0, 0.87);
  }

  .session-sub-text {
    color: rgba(0, 0, 0, 0.87);

    &.speed {
      color: #CB540E;
    }
  }

  .session-textarea {
    color: rgba(0, 0, 0, 0.87);
  }
}

//edit popup
.light-mode {
  .edit-label {
    color: rgba(0, 0, 0, 0.87);
  }

  .edit-search-wrap {
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
  }

  .edit-search-field {
    border-bottom: 1px solid #BBBBBB;

    input {
      border: none;
    }
  }

  .edit-hashtag {
    color: rgba(0, 0, 0, 0.87);
    border: 1px solid #BBBBBB;
  }

  .search-btn {
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='14' viewBox='0 0 13 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.8984 12.0332L9.82617 8.96094C9.75 8.91016 9.67383 8.85938 9.59766 8.85938H9.26758C10.0547 7.94531 10.5625 6.72656 10.5625 5.40625C10.5625 2.51172 8.17578 0.125 5.28125 0.125C2.36133 0.125 0 2.51172 0 5.40625C0 8.32617 2.36133 10.6875 5.28125 10.6875C6.60156 10.6875 7.79492 10.2051 8.73438 9.41797V9.74805C8.73438 9.82422 8.75977 9.90039 8.81055 9.97656L11.8828 13.0488C12.0098 13.1758 12.2129 13.1758 12.3145 13.0488L12.8984 12.4648C13.0254 12.3633 13.0254 12.1602 12.8984 12.0332ZM5.28125 9.46875C3.02148 9.46875 1.21875 7.66602 1.21875 5.40625C1.21875 3.17188 3.02148 1.34375 5.28125 1.34375C7.51562 1.34375 9.34375 3.17188 9.34375 5.40625C9.34375 7.66602 7.51562 9.46875 5.28125 9.46875Z' fill='black' fill-opacity='0.48'/%3E%3C/svg%3E%0A");
  }
}