.btn--add {
  height: 56px;
  width: 56px;
  background-color: #4A63AD;
  display: flex;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2); }
  .btn--add svg {
    display: flex;
    margin: auto; }

.btn--edit {
  height: 40px;
  width: 40px;
  border: 1px solid rgba(255, 255, 255, 0.48);
  display: flex; }
  .btn--edit svg {
    display: flex;
    margin: auto; }
    .btn--edit svg path {
      fill: rgba(255, 255, 255, 0.68); }

.mw .btn {
  padding: 0 18px;
  border: 1px solid;
  box-sizing: border-box;
  border-radius: 5px;
  font-weight: 600;
  font-size: 11.4px;
  line-height: 42px;
  text-transform: uppercase;
  margin-left: 10px;
  white-space: nowrap; }

.btn {
  cursor: pointer;
  font-size: 11px;
  font-weight: 600;
  user-select: none;
  position: relative;
  overflow: hidden; }
  .btn:before {
    content: ' ';
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0);
    height: 1px;
    min-height: 100%;
    transition-duration: .3s; }
  .btn:hover:before, .btn:active:before {
    transition-duration: .3s; }
  .btn .icons-inverse {
    display: inline; }

.btn--circle {
  border-radius: 50%; }

.light-mode .btn--add {
  background-color: #4A63AD; }
  .light-mode .btn--add svg path {
    fill: white; }
.light-mode .btn--edit {
  border: 1px solid rgba(0, 0, 0, 0.48); }
  .light-mode .btn--edit svg path {
    fill: black; }

.dark-mode .btn--add {
  background-color: #9BAAD4; }
  .dark-mode .btn--add:hover {
    background-color: linear-gradient(0deg, rgba(255, 255, 255, 0.12), rgba(255, 255, 255, 0.12)), #9BAAD4; }
  .dark-mode .btn--add:focus {
    background-color: linear-gradient(0deg, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.12)), #9BAAD4; }
  .dark-mode .btn--add svg path {
    fill: black; }
.dark-mode .btn--edit {
  border: 1px solid rgba(255, 255, 255, 0.48); }
  .dark-mode .btn--edit svg path {
    fill: white; }
  .dark-mode .btn--edit:hover {
    border: 1px solid rgba(255, 255, 255, 0.89); }
    .dark-mode .btn--edit:hover svg path {
      fill: rgba(255, 255, 255, 0.89); }
  .dark-mode .btn--edit:focus {
    border: 1px solid rgba(255, 255, 255, 0.48); }
    .dark-mode .btn--edit:focus svg path {
      fill: rgba(255, 255, 255, 0.48); }
.dark-mode .mw .btn--disabled {
  background: #41434d;
  border-color: #5f616b;
  color: #787c85; }
.dark-mode .mw .btn--grey {
  background: #50545D;
  border-color: #757884;
  color: #ECECED; }
  .dark-mode .mw .btn--grey:hover:before {
    background: rgba(225, 225, 225, 0.04); }
  .dark-mode .mw .btn--grey:active:before {
    background: rgba(225, 225, 225, 0.07); }
.dark-mode .mw .btn--purple {
  background: #564D6A;
  border-color: #936CB4;
  color: #DDC0F2; }
  .dark-mode .mw .btn--purple:hover:before {
    background: rgba(198, 149, 223, 0.07); }
  .dark-mode .mw .btn--purple:active:before {
    background: rgba(198, 149, 223, 0.11); }
.dark-mode .mw .btn--blue {
  background: #485069;
  border-color: #6376AF;
  color: #B4BFDF; }
  .dark-mode .mw .btn--blue:hover:before {
    background: rgba(130, 148, 202, 0.07); }
  .dark-mode .mw .btn--blue:active:before {
    background: rgba(130, 148, 202, 0.11); }
.dark-mode .mw .btn--orange {
  background: #6F5648;
  border-color: #AE642E;
  color: #F2C4A0; }
  .dark-mode .mw .btn--orange:hover:before {
    background: rgba(223, 156, 97, 0.07); }
  .dark-mode .mw .btn--orange:active:before {
    background: rgba(223, 156, 97, 0.11); }
.dark-mode .mw .btn--red {
  background: #734950;
  border-color: #B75457;
  color: #F2AEAE; }
  .dark-mode .mw .btn--red:hover:before {
    background: rgba(223, 119, 119, 0.07); }
  .dark-mode .mw .btn--red:active:before {
    background: rgba(223, 119, 119, 0.11); }
.dark-mode .mw .btn--green {
  background: #486556;
  border-color: #488B57;
  color: #B0DDB8; }
  .dark-mode .mw .btn--green:hover:before {
    background: rgba(123, 198, 136, 0.07); }
  .dark-mode .mw .btn--green:active:before {
    background: rgba(123, 198, 136, 0.13); }

.light-mode .mw .btn--purple {
  background: #F3E7F3;
  border-color: #C387C5;
  color: #834185; }
  .light-mode .mw .btn--purple:hover:before {
    background: rgba(161, 79, 219, 0.06); }
  .light-mode .mw .btn--purple:active:before {
    background: rgba(161, 79, 219, 0.12); }
.light-mode .mw .btn--grey {
  background: #F0F0F1;
  border-color: #BBBBBB;
  color: #212121; }
  .light-mode .mw .btn--grey:hover:before {
    background: rgba(0, 0, 0, 0.03); }
  .light-mode .mw .btn--grey:active:before {
    background: rgba(0, 0, 0, 0.06); }
.light-mode .mw .btn--blue {
  background: #E1EDF6;
  border-color: #6AA3D3;
  color: #2A618F; }
  .light-mode .mw .btn--blue:hover:before {
    background: rgba(74, 99, 173, 0.05); }
  .light-mode .mw .btn--blue:active:before {
    background: rgba(74, 99, 173, 0.1); }
.light-mode .mw .btn--orange {
  background: #FDECE2;
  border-color: #F5A16F;
  color: #CB540E; }
  .light-mode .mw .btn--orange:hover:before {
    background: rgba(216, 110, 29, 0.07); }
  .light-mode .mw .btn--orange:active:before {
    background: rgba(216, 110, 29, 0.13); }
.light-mode .mw .btn--red {
  background: #FCDFD9;
  border-color: #F27E66;
  color: #EB3E19; }
  .light-mode .mw .btn--red:hover:before {
    background: rgba(222, 46, 46, 0.05); }
  .light-mode .mw .btn--red:active:before {
    background: rgba(222, 46, 46, 0.1); }
.light-mode .mw .btn--green {
  background: #E5F3E5;
  border-color: #7FC37B;
  color: #3E803A; }
  .light-mode .mw .btn--green:hover:before {
    background: rgba(216, 110, 29, 0.06); }
  .light-mode .mw .btn--green:active:before {
    background: rgba(216, 110, 29, 0.06); }

.switch {
  position: relative;
  display: inline-block;
  width: 22px;
  z-index: 3;
  height: 12px; }

.switcher-wrapper {
  cursor: pointer; }

.switch input {
  opacity: 0;
  width: 0;
  height: 0; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  background: #3D404B;
  -webkit-transition: .4s;
  transition: .4s;
  border: 1px solid #9BAAD4; }

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: -1px;
  bottom: -1px;
  background: #3D404B;
  border: 1px solid #62646D;
  -webkit-transition: .4s;
  transition: .4s; }

input:checked + .slider {
  border: 1px solid #4a63ad; }

input:checked + .slider:before {
  transform: translateX(9px);
  background-color: #9BAAD4;
  border: 1px solid #9BAAD4; }

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  border: 1px solid #62646D; }

.slider.round:before {
  border-radius: 50%; }

.light-mode .switcher-wrapper input:checked + .slider:before {
  transform: translateX(9px);
  background-color: #4A63AD;
  border: 1px solid #4A63AD; }
.light-mode .switcher-wrapper input:checked + .slider.round {
  border-radius: 34px;
  background: white;
  border: 1px solid #4a63ad; }
.light-mode .switcher-wrapper input:not(:checked) + .slider.round {
  background: #FFFFFF;
  border-radius: 34px;
  border: 1px solid #bbb; }
.light-mode .switcher-wrapper input:not(:checked) + .slider:before {
  background: #fff;
  border: 1px solid #bbb; }
.light-mode .switcher-wrapper:hover input:checked + .slider:before {
  background: rgba(110, 130, 189, 0.8);
  border: 1px solid #4a63ad; }
.light-mode .switcher-wrapper:hover input:checked + .slider.round {
  border-radius: 34px;
  border: 1px solid #4a63ad; }
.light-mode .switcher-wrapper:hover input:not(:checked) + .slider.round {
  background: #FFFFFF;
  border-radius: 34px;
  border: 1px solid #9f9f9f; }
.light-mode .switcher-wrapper:hover input:not(:checked) + .slider:before {
  background: #fff;
  border: 1px solid #9f9f9f; }

.dark-mode .switcher-wrapper input:checked + .slider:before {
  transform: translateX(10px);
  background-color: #9BAAD4;
  border: 1px solid #9BAAD4; }
.dark-mode .switcher-wrapper input:checked + .slider {
  border-radius: 34px;
  border: 1px solid #9BAAD4;
  background: transparent; }
.dark-mode .switcher-wrapper input:not(:checked) + .slider:before {
  background: #3d404b;
  border: 1px solid #979997; }
.dark-mode .switcher-wrapper input:not(:checked) + .slider {
  background: #62646d;
  border: 1px solid #979997; }
.dark-mode .switcher-wrapper:hover input:checked + .slider:before {
  transform: translateX(10px);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), #9BAAD4;
  border: 1px solid  #9BAAD4; }
.dark-mode .switcher-wrapper:hover input:checked + .slider {
  border-radius: 34px;
  border: 1px solid #9BAAD4;
  background: transparent; }
.dark-mode .switcher-wrapper:hover input:not(:checked) + .slider:before {
  background: #2c2f38;
  border: 1px solid #979997; }
.dark-mode .switcher-wrapper:hover input:not(:checked) + .slider {
  background: #3d404b;
  border: 1px solid #979997; }

select:focus {
  outline: none; }

.select label {
  color: rgba(255, 255, 255, 0.48);
  user-select: none; }
.select.active {
  z-index: 5; }
  .select.active .textfirst {
    border: 1px solid #9BAAD4;
    transition-duration: .3s; }

div.mm-dropdown {
  width: 100%;
  position: relative; }

div.mm-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  right: 0;
  width: 80px;
  z-index: 5;
  background-color: #3d404b;
  border: 1px solid #62646d;
  color: rgba(255, 255, 255, 0.88);
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.14), 0px 2px 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: none; }
  div.mm-dropdown ul li {
    padding: 6px 10px !important;
    cursor: pointer;
    font-weight: 400;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.89); }
    div.mm-dropdown ul li:hover {
      background: linear-gradient(0deg, rgba(130, 148, 202, 0.07), rgba(130, 148, 202, 0.07)), #485069; }
    div.mm-dropdown ul li img {
      vertical-align: middle; }

.light-mode div.mm-dropdown ul {
  background-color: #FFFFFF; }
  .light-mode div.mm-dropdown ul li {
    color: rgba(0, 0, 0, 0.87); }
    .light-mode div.mm-dropdown ul li:hover {
      background: linear-gradient(0deg, rgba(74, 99, 173, 0.05), rgba(74, 99, 173, 0.05)), #E1EDF6; }

div.mm-dropdown ul li,
div.mm-dropdown div.textfirst {
  padding: 0; }

.textfirst {
  height: 44px;
  padding: 22px 15px 0 7px !important;
  background-color: #3d404b;
  border: 1px solid #62646d;
  transition-duration: .3s;
  caret-color: #fff;
  color: rgba(255, 255, 255, 0.88);
  line-height: 1;
  width: 80px;
  cursor: pointer;
  position: relative;
  font-size: 12px; }
  .textfirst:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-left-width: 4px;
    border-right-width: 4px;
    border-top: 4px solid rgba(255, 255, 255, 0.68);
    right: 10px;
    top: 20px;
    z-index: 4; }
  .textfirst img.down {
    transform: translate(10px, -5px); }
  .textfirst img:not(.down) {
    vertical-align: middle;
    transform: translateY(-2px); }

.light-mode .textfirst:before {
  border-top: 4px solid rgba(0, 0, 0, 0.87); }

div.mm-dropdown ul li:last-child {
  border-bottom: 0; }

div.mm-dropdown ul li.main {
  display: block; }

div.mm-dropdown ul li img {
  width: 20px;
  height: 20px; }

input:focus {
  box-shadow: none;
  outline: -webkit-focus-ring-color auto 0; }

div.input-wrapper {
  position: relative;
  z-index: 1; }
  div.input-wrapper.active {
    z-index: 2; }
  div.input-wrapper input, div.input-wrapper textarea {
    width: 100%;
    font-size: 13px; }
  div.input-wrapper label {
    color: rgba(255, 255, 255, 0.48);
    position: absolute;
    top: 16px;
    left: 11px;
    z-index: 2;
    font-size: 13px;
    transition: top .3s, font-size .3s;
    user-select: none;
    line-height: 1; }
    div.input-wrapper label.active {
      top: 7px;
      font-size: 11px;
      transition: top .3s, font-size .3s , font-size .3s; }

input, textarea {
  background-color: #3D404B;
  border: 1px solid #62646D;
  color: white;
  font-size: 12px;
  line-height: 16px;
  position: relative; }
  input::placeholder, textarea::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    display: flex;
    align-items: center; }
  input:focus, textarea:focus {
    outline: none; }

.dark-mode input, .dark-mode textarea {
  background-color: #3D404B;
  border: 1px solid #62646D;
  caret-color: white;
  color: rgba(255, 255, 255, 0.88);
  transition-duration: .3s; }
  .dark-mode input::placeholder, .dark-mode textarea::placeholder {
    color: rgba(255, 255, 255, 0.48); }
  .dark-mode input:focus, .dark-mode textarea:focus {
    border-color: #9BAAD4;
    transition-duration: .3s; }

.light-mode input, .light-mode textarea {
  background-color: white;
  border: 1px solid #BBBBBB;
  caret-color: rgba(0, 0, 0, 0.48);
  color: #525252; }
  .light-mode input::placeholder, .light-mode textarea::placeholder {
    color: rgba(0, 0, 0, 0.48); }
  .light-mode input:focus, .light-mode textarea:focus {
    border-color: #4A63AD;
    transition-duration: .3s; }

@font-face {
  font-family: 'Open Sans';
  src: url("../open-sans/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  src: url("../open-sans/OpenSans-SemiBold.ttf");
  font-weight: bold;
  font-style: normal; }
body, html {
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif; }
  body * {
    font-family: 'Open Sans', sans-serif; }

.dark-mode {
  background: #23262C; }

.light-mode {
  background: linear-gradient(0deg, rgba(74, 99, 173, 0.08), rgba(74, 99, 173, 0.08)), #ECECEC; }

.mw {
  background: #2C2F38;
  width: 950px;
  border-radius: 5px;
  overflow: hidden; }
  .mw header {
    height: 36px;
    padding: 0 0 0 15px;
    display: flex;
    flex-direction: row;
    vertical-align: middle; }
    .mw header .icons-inverse {
      height: 16px;
      vertical-align: middle;
      margin-top: auto;
      margin-bottom: auto; }
    .mw header h3 {
      margin: 0 0 0 7px;
      vertical-align: middle;
      line-height: 36px;
      font-size: 13px; }
    .mw header .mw_nav {
      margin-left: auto;
      display: flex;
      flex-direction: row; }
      .mw header .mw_nav div {
        width: 36px;
        height: 36px;
        display: flex;
        justify-content: center;
        cursor: pointer; }
        .mw header .mw_nav div.hide img {
          margin-top: 8px; }
  .mw main {
    padding: 20px; }
  .mw footer {
    height: 64px;
    padding: 10px 20px 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end; }

.dark-mode .icons-inverse .icon-black {
  display: none; }
.dark-mode .mw {
  background: #2C2F38; }
  .dark-mode .mw header, .dark-mode .mw footer {
    background: #3D404B; }
    .dark-mode .mw header h3, .dark-mode .mw footer h3 {
      color: rgba(255, 255, 255, 0.89); }
  .dark-mode .mw footer {
    border-top: 1px solid #62646D; }

.light-mode .icons-inverse .icon-white {
  display: none; }
.light-mode .mw {
  background: linear-gradient(0deg, rgba(74, 99, 173, 0.04), rgba(74, 99, 173, 0.04)), linear-gradient(0deg, #F1F1F1, #F1F1F1), #E9E9EB;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.7), 0px 20px 30px rgba(0, 0, 0, 0.2), 0px 10px 50px rgba(0, 0, 0, 0.1); }
  .light-mode .mw label {
    user-select: none; }
  .light-mode .mw header, .light-mode .mw footer {
    background: white; }
    .light-mode .mw header h3, .light-mode .mw footer h3 {
      color: rgba(0, 0, 0, 0.87); }
  .light-mode .mw footer {
    border-top: 1px solid #BBBBBB; }

.comment {
  display: flex;
  flex-direction: column;
  position: relative; }
  .comment .ta-wrapper textarea {
    margin-top: -1px; }
  .comment .input-wrapper--title input {
    height: 44px;
    padding: 20px 12px 5px 40px;
    box-sizing: border-box; }
  .comment .input-wrapper--title label {
    left: 40px; }
    .comment .input-wrapper--title label.active {
      left: 40px; }
  .comment_nav {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 13px;
    right: 20px;
    z-index: 4;
    text-transform: uppercase; }
    .comment_nav .clone {
      margin-left: 22px; }
    .comment_nav div {
      font-size: 11px;
      color: #B4BFDF; }
      .comment_nav div svg {
        vertical-align: middle;
        margin-right: 3px; }
  .comment input {
    width: 100%;
    height: 44px;
    line-height: 44px;
    padding: 0 12px 0 40px;
    background-image: url("../images/mw/session-name.svg");
    background-position: 15px center;
    background-repeat: no-repeat; }
    .comment input:nth-of-type(1) {
      border-top-right-radius: 4px;
      border-top-left-radius: 4px; }
  .comment textarea {
    height: 78px;
    width: 100%;
    border: 1px solid #62646D;
    padding: 25px 15px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px; }
    .comment textarea.active {
      padding-top: 25px; }
  .comment .ta-wrapper label {
    left: 15px; }

.label-img {
  width: 36px;
  height: 44px;
  background: #50545D;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  justify-content: center;
  position: relative;
  border: 1px solid #62646d;
  z-index: 1; }
  .label-img svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.content_box {
  margin-top: 20px; }
  .content_box__description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px; }
    .content_box__description h3 {
      font-size: 12px;
      line-height: 16px;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.89);
      margin: 0; }
    .content_box__description > div {
      display: flex;
      flex-direction: row; }
      .content_box__description > div svg {
        margin-right: 5px; }
    .content_box__description span {
      margin-left: 10px;
      font-size: 11px;
      font-weight: 600;
      display: flex;
      flex-direction: row; }
      .content_box__description span img {
        margin-right: 5px;
        vertical-align: middle; }
      .content_box__description span:nth-of-type(1) {
        color: rgba(255, 255, 255, 0.48); }
      .content_box__description span:nth-of-type(2) {
        color: #B0DDB8; }
      .content_box__description span:nth-of-type(3) {
        color: #B0DDB8; }
      .content_box__description span:nth-of-type(4) {
        color: #F2C4A0; }
      .content_box__description span:nth-of-type(5) {
        color: rgba(255, 255, 255, 0.48); }
  .content_box .mw__row_1 {
    display: flex;
    flex-direction: row; }
    .content_box .mw__row_1 .dropdown--proxy {
      width: 128px; }
      .content_box .mw__row_1 .dropdown--proxy .textfirst {
        width: 128px;
        padding: 22px 15px 0 12px !important; }
      .content_box .mw__row_1 .dropdown--proxy ul {
        width: 128px; }
    .content_box .mw__row_1 .dropdown--port {
      width: 80px; }
      .content_box .mw__row_1 .dropdown--port .textfirst {
        width: 80px;
        padding: 22px 15px 0 12px !important; }
      .content_box .mw__row_1 .dropdown--port ul {
        width: 80px; }
    .content_box .mw__row_1 input {
      height: 44px;
      padding: 20px 12px 5px 10px;
      box-sizing: border-box;
      border-radius: 0; }
    .content_box .mw__row_1 > input:last-of-type {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px; }
    .content_box .mw__row_1 .no-label {
      font-size: 13px;
      color: rgba(255, 255, 255, 0.48);
      padding-top: 5px;
      width: 181px; }
    .content_box .mw__row_1 .label-img {
      background: #564D6A;
      border: 1px solid #936CB4 !important; }
    .content_box .mw__row_1 .btns-wrapper {
      display: flex;
      flex-direction: row; }
      .content_box .mw__row_1 .btns-wrapper .btn--purple {
        padding: 0 11px;
        margin-left: 8px; }
      .content_box .mw__row_1 .btns-wrapper .btn--green {
        padding: 0 15px; }
    .content_box .mw__row_1 .input-ip {
      width: 182px;
      background-image: url("../images/mw/check-black.svg");
      background-repeat: no-repeat;
      background-position: 95% center; }
  .content_box .mw__row_2 {
    display: flex;
    flex-direction: row;
    margin-top: 10px; }
    .content_box .mw__row_2 .dropdown--proxy {
      width: 128px; }
      .content_box .mw__row_2 .dropdown--proxy .textfirst {
        width: 128px;
        padding: 22px 15px 0 12px !important; }
      .content_box .mw__row_2 .dropdown--proxy ul {
        width: 128px; }
    .content_box .mw__row_2 .dropdown--port {
      width: 80px; }
      .content_box .mw__row_2 .dropdown--port .textfirst {
        width: 80px;
        padding: 22px 15px 0 12px !important; }
      .content_box .mw__row_2 .dropdown--port ul {
        width: 80px; }
    .content_box .mw__row_2 input {
      height: 44px;
      padding: 20px 12px 5px 12px;
      box-sizing: border-box;
      border-radius: 0; }
    .content_box .mw__row_2 > input:last-of-type {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px; }
    .content_box .mw__row_2 .input-dns {
      border-radius: 4px;
      margin-right: 10px;
      width: 140px;
      background-image: url("../images/mw/check-black.svg");
      background-repeat: no-repeat;
      background-position: 95% center; }
    .content_box .mw__row_2 .ips {
      display: flex;
      flex-direction: row;
      margin-right: 10px; }
      .content_box .mw__row_2 .ips div:last-of-type input {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px; }
      .content_box .mw__row_2 .ips input {
        width: 117px; }
    .content_box .mw__row_2 .coords {
      display: flex;
      flex-direction: row;
      margin-right: 10px; }
      .content_box .mw__row_2 .coords div:last-of-type input {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px; }
      .content_box .mw__row_2 .coords input {
        width: 89px; }
    .content_box .mw__row_2 .time {
      display: flex;
      flex-direction: row; }
      .content_box .mw__row_2 .time div:last-of-type .textfirst {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        width: 87px; }
  .content_box .mw__row_4 {
    display: flex;
    flex-direction: row; }
    .content_box .mw__row_4 input {
      height: 44px;
      width: 856px;
      padding: 20px 12px 5px 12px;
      border-radius: 4px;
      box-sizing: border-box;
      background-image: url("../images/mw/check-black.svg");
      background-repeat: no-repeat;
      background-position: 99% center; }
    .content_box .mw__row_4 .btn {
      margin-left: auto;
      padding: 0 13px;
      width: 44px;
      height: 44px;
      display: flex; }
      .content_box .mw__row_4 .btn div {
        width: 12px;
        height: 12px;
        display: flex;
        margin-top: auto;
        margin-bottom: auto;
        transform: translate(2px, 0); }
  .content_box .mw__row_5 {
    margin-top: 10px;
    display: flex;
    flex-direction: row; }
    .content_box .mw__row_5 .screen_size {
      display: flex;
      flex-direction: row;
      margin-right: 10px; }
      .content_box .mw__row_5 .screen_size input {
        height: 44px;
        width: 94px;
        padding: 20px 12px 5px 12px; }
      .content_box .mw__row_5 .screen_size .input-wrapper label {
        left: 5px; }
      .content_box .mw__row_5 .screen_size .input-wrapper label.active {
        left: 12px; }
      .content_box .mw__row_5 .screen_size div:nth-of-type(3) input {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px; }
    .content_box .mw__row_5 .btns-wrapper {
      display: flex;
      flex-direction: row; }
      .content_box .mw__row_5 .btns-wrapper .btn {
        padding: 0 10px 0 10px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        border-radius: 0; }
        .content_box .mw__row_5 .btns-wrapper .btn svg {
          vertical-align: middle;
          margin-right: 5px; }
      .content_box .mw__row_5 .btns-wrapper > div:not(:last-of-type) {
        border-right: 0; }
      .content_box .mw__row_5 .btns-wrapper > div:not(:first-of-type) {
        padding: 0 11px 0 11px; }
      .content_box .mw__row_5 .btns-wrapper div:nth-of-type(1) {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px; }
      .content_box .mw__row_5 .btns-wrapper div:nth-of-type(4) {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px; }
    .content_box .mw__row_5 .location {
      display: flex;
      flex-direction: row;
      margin-right: 15px; }
      .content_box .mw__row_5 .location select {
        background-color: #3d404b;
        border: 1px solid #62646d;
        height: 44px;
        width: 80px; }
      .content_box .mw__row_5 .location input {
        height: 44px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        padding: 20px 12px 5px 12px; }
  .content_box .mw__row_3, .content_box .mw__row_6 {
    display: flex;
    flex-direction: row;
    margin-top: 10px; }
    .content_box .mw__row_3 > span, .content_box .mw__row_6 > span {
      font-size: 12px;
      color: rgba(255, 255, 255, 0.48);
      margin-right: 30px; }
      .content_box .mw__row_3 > span label, .content_box .mw__row_6 > span label {
        margin-right: 5px;
        vertical-align: middle; }

.no-label {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.48) !important;
  padding: 5px 12px 5px 10px; }

#modebtn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rebeccapurple;
  cursor: pointer;
  transition-duration: 0.3s; }
  #modebtn:hover {
    transform: scale(2.5);
    transition-duration: 0.3s; }

.dark-mode #modebtn {
  background: white; }

.light-mode #modebtn {
  background: rgba(0, 0, 0, 0.86); }

.select {
  position: relative; }
  .select label {
    font-size: 11px;
    line-height: 15px;
    z-index: 1;
    position: absolute;
    left: 12px;
    top: 5px;
    display: flex; }

.dark-mode .comment_nav div {
  font-size: 11px;
  font-weight: 600;
  color: #B4BFDF; }
.dark-mode .time .label .textfirst {
  border-left: 1px solid #62646d; }
.dark-mode .selectlabel {
  color: rgba(255, 255, 255, 0.48); }

.light-mode .input-wrapper label, .light-mode .select label {
  color: rgba(0, 0, 0, 0.48); }
.light-mode .time .label .textfirst {
  border-left: 1px solid #62646d; }
.light-mode .input-ip, .light-mode .content_box .mw__row_4 input {
  background-image: url(../images/mw/check-white.svg) !important; }
.light-mode input, .light-mode textarea {
  background-color: white;
  border: 1px solid #BBBBBB;
  caret-color: rgba(0, 0, 0, 0.48);
  color: #525252; }
  .light-mode input::placeholder, .light-mode textarea::placeholder {
    color: rgba(0, 0, 0, 0.48); }
  .light-mode input:focus, .light-mode textarea:focus {
    border-color: #4A63AD;
    transition-duration: .3s; }
.light-mode input:not(.no-label) {
  color: rgba(0, 0, 0, 0.87); }
.light-mode .mm-dropdown ul {
  background-color: white;
  border-color: #D7D7D7;
  color: #525252; }
.light-mode .textfirst {
  background-color: white;
  border-color: #BBBBBB !important;
  color: #525252 !important; }
.light-mode .mw__row_1 .label-img {
  background: #F3E7F3;
  border: 1px solid #C387C5;
  z-index: 2; }
.light-mode .mw__row_3 span, .light-mode .mw__row_6 span {
  color: rgba(0, 0, 0, 0.48); }
.light-mode .no-label {
  color: rgba(0, 0, 0, 0.48) !important; }
.light-mode .label-img {
  background: #F0F0F1;
  border-color: #BBBBBB; }
.light-mode .content_box__description h3 {
  color: rgba(0, 0, 0, 0.87); }
.light-mode .content_box__description_1 span:nth-of-type(1) {
  color: rgba(0, 0, 0, 0.48); }
.light-mode .content_box__description_1 span:nth-of-type(2) {
  color: #3E803A; }
.light-mode .content_box__description_1 span:nth-of-type(3) {
  color: #3E803A; }
.light-mode .content_box__description_1 span:nth-of-type(4) {
  color: #CB540E; }
.light-mode .content_box__description_1 span:nth-of-type(5) {
  color: rgba(0, 0, 0, 0.48); }
.light-mode .content_box__description_2 span {
  display: flex;
  flex-direction: row; }
.light-mode .content_box__description_2 span:nth-of-type(1) {
  color: rgba(0, 0, 0, 0.48); }
.light-mode .content_box__description_2 span:nth-of-type(2) {
  color: rgba(0, 0, 0, 0.48); }
.light-mode .comment input {
  background-image: url(../images/mw/session-name-white.svg); }
.light-mode .comment_nav div {
  font-size: 11px;
  font-weight: 600;
  color: #2A618F; }
.light-mode .content_box .mw__row_2 .input-dns {
  background-image: url("../images/mw/check-white.svg"); }

.content_box .mw__row_1 .input-wrapper, .content_box .mw__row_1 .select, .content_box .mw__row_2 .input-wrapper, .content_box .mw__row_2 .select, .content_box .mw__row_5 .input-wrapper, .content_box .mw__row_5 .select {
  margin-left: -1px; }
.content_box .mw__row_2 .ips, .content_box .mw__row_2 .coords {
  margin-right: 14px; }
