.flexible_table {
  display: block;
  position: relative;
  height: 240px;
  overflow-x: hidden;
  .column  {
    width: 100%;
    position: absolute;
        background: #3D404B;
    left: 0;
    top: 0;
    z-index: 1;
          border-left: 1px solid #62646d;
    .column_body {
     & >  div {
        height: 40px;
        border-bottom: 1px solid #62646d;
        padding-top: 10px;
        font-size: 13px;
        padding-left: 14px;
          transition: background-color .2s linear;
      }
      input:focus {
        background: #41444d;
        border-color:#73757d !important;
      }
    }
    .column_head {
      height: 40px;
      border-bottom: 1px solid #62646d;
      padding-top: 10px;
      font-size: 13px;
      padding-left: 14px;
    }
  }

  & > div:first-of-type {
    border-left: none;
  }
  .textfirst {
    width: calc(100% - 1px);
    height: 39px;
    border-color: transparent;
    padding: 12px 15px 0 12px !important;
    font-size: 13px;
    &:before {
      top: 16px;
      right: 8px;
    }
  }
  .select {
    border: none;
    padding: 0 !important;
    &.active .textfirst {
    //  padding: 11px 15px 0 11px !important;
    }
  }
  .flexible_wrapper {
    padding: 0 !important;

  }


  .mm-dropdown ul {
    width: 100%;
    min-width: 130px;
  }
  .checkbox-container {
    transform: translate(8px,1px);
    height: 39px;
    margin-left: -22px;
    margin-top: -10px;
    .checkmark {
      left: 22px;
      top: 11px;
    }
  }
  .checkbox-container input ~ .checkmark {
      background: #3D404B;
  }

  .hover {
    background-color: #2C2F38;
    transition: background-color .2s linear;
  }
}

.columnNav {
  position: absolute;
  left: -4px;
  width: 8px;
  height: 99%;
  top: 1px;
  z-index: 5;
  cursor: move;
    //pointer-events: none;
}

.flexible_wrapper {
  transition: background-color .2s linear;
  white-space: nowrap;
  input {
    height: 41px;
    margin-top: -1px;
    margin-left: -1px;
    padding-left: 15px;
    position: relative;
    width: calc(100% + 0px);
    z-index: 1;
    padding-left: 13px;
    font-size: 13px;
    &:hover {
      z-index: 2;
        border-right: 1px solid;
    }
    &:focus {
      z-index: 3;
      border-right: 1px solid;
    }

  }

  .check_status {
    height: 39px;
    width: 100%;
    position: relative;
    &[data-status='not checked'] {
      .status {
        background: url('./../images/proxyTable/dCheckNot.svg') center center no-repeat;
      }
    }
    &[data-status='error'] {
      .status {
        background: url('./../images/proxyTable/dCheckError.svg') center center no-repeat;
      }
    }
    &[data-status='success'] {
      .status {
        background: url('./../images/proxyTable/dCheckSuccess.svg') center center no-repeat;
      }
    }
    &[data-status='load'] {
      .status {
        display: none;
      }
      .preloader {
        display: block;
      }
    }

    .status {
      height: 39px;
      width: 60px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
    .preloader {
      width: 16px;
      height: 16px;
        background: url('./../images/proxyTable/preloader.svg') center center no-repeat;
      position: absolute;
      z-index: 2;
      top: 11px;
      left: 23px;
       animation: rotating 1s linear infinite;
       display: none;
    }
    .recheck {
      display: none;
      width: 28px;
      height: 20px;
      border: 1px solid #6AA3D3;
      box-sizing: border-box;
      border-radius: 5px;
      background:#E1EDF6 url('./../images/proxyTable/recheck.svg') center center no-repeat;
      cursor: pointer;
      position: absolute;
      top: 10px;
      left: 15px;
      z-index: 3;
      &.disabled {
        display: none !important;
      }
    }
  }

    &.hover {
      .check_status {
        position: relative;
        .recheck {
          display: block;
        }
      }
      .set_status {
        &[data-status='true'] .setbtn{
          display: block;
        }
        &[data-status='true'] .status{
          display: none;
        }
      }
    }

  .set_status {
    height: 39px;
    width: 100%;
    &[data-status='true'] .status, &[data-status='true'] .setbtn{
      width: 60px;
      height: 39px;
        background: url('./../images/proxyTable/dSetTrue.svg') center center no-repeat;
    }
     &[data-status='true'] .setbtn{
       display: none;
       width: 28px;
       height: 20px;
       border: 1px solid #6376AF;
       box-sizing: border-box;
       border-radius: 5px;
       background-color: #485069;
       cursor: pointer;
       transform: translate(16px, 9px);
     }

  }
  .textfirst {
    background-color: transparent;
    transition-duration: 0.2s;
  }
  .marker {
    background: rgba(255,193,71,0.3)
  }

  &.wrapper_withoutinput {
    padding: 11px 15px 0 13px !important;
    font-size: 13px;
  }
  &.flexible_wrapper--flag.wrapper_withoutinput {
    background-image: url('./../images/mw/usa.svg');
    background-repeat: no-repeat;
    background-position: 122px 12px;
  }
}
 #proxyfileInput {
   display: none;
 }

 @keyframes rotating {
   from {
     transform: rotate(0deg);
   }
   to {

     transform: rotate(360deg);
   }
 }

 div[data-current='true'] {
   background: rgba(233, 156, 97, 0.1);
   border-bottom: 1px solid #E99C61 !important;
   border-top: 1px solid #E99C61;
   height: 41px !important;
 }
