.mw__fonts_import {
  width: 640px;
  margin: 50px;
}
.mw__fonts_import main {
  padding: 10px 15px 20px;
  min-height: 610px;
}
.mw__fonts_import .filewrapper {
  position: relative;
  padding-left: 43px;
  font-size: 13px;
}
.mw__fonts_import .filewrapper .close {
  position: absolute;
  left: 8px;
  top: -3px;
  height: 10px;
  width: 10px;
  cursor: pointer;
}
.mw__fonts_import .filewrapper .close:before, .mw__fonts_import .filewrapper .close:after {
  content: " ";
  position: absolute;
  height: 2px;
  width: 10px;
  top: 5px;
  left: 0;
  background: #F2AEAE;
  transform: rotate(45deg);
}
.mw__fonts_import .filewrapper .close:after {
  transform: rotate(-45deg);
}
.mw__fonts_import #fontsFileInput {
  display: none;
}
.mw__fonts_import .result {
  padding: 10px 0;
}
.mw__fonts_import .result div {
  margin: 7px 0;
  display: flex;
}
.mw__fonts_import .custom-file-upload {
  padding: 13px 12px;
  cursor: pointer;
  font-weight: 600;
  font-size: 11px;
  background: #50545D;
  border: 1px solid #757884;
  box-sizing: border-box;
  border-radius: 5px;
  display: inline-flex;
  letter-spacing: 0.2px;
}
.mw__fonts_import .custom-file-upload svg {
  margin-right: 10px;
  transform: translateY(2px);
}
.mw__fonts_import #fontsHolder {
  border: 1px dashed rgba(255, 255, 255, 0.48);
  border-radius: 4px;
  width: 100%;
  height: 357px;
  display: flex;
}
.mw__fonts_import #fontsHolder.hover {
  border: 1px dashed rgba(255, 255, 255, 0.69);
}
.mw__fonts_import #fontsHolder.hover .bg {
  opacity: 0;
}
.mw__fonts_import #fontsHolder .bg {
  margin: auto;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.48);
}
.mw__fonts_import #fontsHolder .bg svg {
  margin: 0 auto 30px;
  display: flex;
}