.mn-edit {
    max-width: 640px;
}

.edit-row {
    display: flex;

    .edit-field {
        &:first-child {
            flex: none;
            width: 390px;
            margin-right: 10px;
        }

        &:last-child {
            width: 100%;
        }
    }
}

.edit-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;

    input {
        border-radius: 5px;
        height: 44px;
        width: 100%;
        padding: 12px;
    }

    textarea {
        border-radius: 5px;
        height: 107px;
        padding: 12px;
        resize: none;
    }
}

.edit-label {
    font-weight: 700;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.89);
    margin-bottom: 10px;
}

.edit-search-wrap {
    background: #3D404B;

    border-radius: 5px;
    .input-wrapper {
      input {
        background-position: 16px 14px;
        background-repeat: no-repeat;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        padding-top: 23px;
        padding-left: 39px;
      }
    }
}



.edit-search-body {
    padding: 8px 10px 88px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    border: 1px solid #62646D;
    border-top:none;
    min-height: 180px;
}
@keyframes hide {
   0% {
     opacity: 1;
     padding: 9px 22px 9px 8px;
     margin: 0 8px 8px 0;
     max-width: 200px;
   }
   40% {opacity: 0}
   60% { max-width: 200px;
     padding: 9px 22px 9px 8px;
     margin: 0 8px 8px 0;}

   100% { max-width: 0; opacity: 0;padding: 9px 0;
   margin: 0; }
}
.edit-hashtag {
    display: block;
    font-size: 13px;
    line-height: 1;
    text-align: center;
    color: rgba(255, 255, 255, 0.89);
    border: 1px solid #62646D;
    padding: 9px 15px;
    margin: 0 8px 8px 0;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: .3s;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    &.hidden {
      animation: hide 1s ;
      animation-fill-mode: both

    }
    &:hover {
      padding: 9px 22px 9px 8px;
      .close-hashtag {
        transition-duration: .2s;
        opacity: 1;
      }
    }
    .close-hashtag {
      position: absolute;
      top: 11px;
      right: 13px;
      transition-duration: .2s;
      opacity: 0;
      z-index: 2;
      &:before, &:after {
        content: ' ';
        position: absolute;
        width: 2px;
        height: 10px;
        background: rgba(242,174,174,1);
        top: 0;
        left: calc(50% - 1px);
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }

}


input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}
