.mn-edit {
    max-width: 640px;
}

.edit-row {
    display: flex;

    .edit-field {
        &:first-child {
            flex: none;
            width: 390px;
            margin-right: 10px;
        }

        &:last-child {
            width: 100%;
        }
    }
}

.edit-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;

    input {
        border-radius: 5px;
        height: 44px;
        width: 100%;
        padding: 12px;
    }

    textarea {
        border-radius: 5px;
        height: 107px;
        padding: 12px;
        resize: none;
    }
}

.edit-label {
    font-weight: 700;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.89);
    margin-bottom: 10px;
}

.edit-search-wrap {
    background: #3D404B;
    border: 1px solid #62646D;
    border-radius: 5px;
}

.edit-search-field {
    height: 44px;
    border-bottom: 1px solid #62646D;
    display: flex;
    align-items: center;
    padding: 2px 16px;

    input {
        border: none;
        background-color: transparent;
        height: 40px;
    }
}

.edit-search-body {
    padding: 8px 10px 88px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.edit-hashtag {
    display: block;
    font-size: 13px;
    line-height: 1;
    text-align: center;
    color: rgba(255, 255, 255, 0.89);
    border: 1px solid #62646D;
    padding: 9px 7px;
    margin: 0 8px 8px 0;
    border-radius: 5px;
    cursor: pointer;
}

.search-btn {
    cursor: pointer;
    outline: none;
    appearance: none;
    width: 13px;
    height: 13px;
    border: none;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='14' viewBox='0 0 13 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.8984 12.0332L9.82617 8.96094C9.75 8.91016 9.67383 8.85938 9.59766 8.85938H9.26758C10.0547 7.94531 10.5625 6.72656 10.5625 5.40625C10.5625 2.51172 8.17578 0.125 5.28125 0.125C2.36133 0.125 0 2.51172 0 5.40625C0 8.32617 2.36133 10.6875 5.28125 10.6875C6.60156 10.6875 7.79492 10.2051 8.73438 9.41797V9.74805C8.73438 9.82422 8.75977 9.90039 8.81055 9.97656L11.8828 13.0488C12.0098 13.1758 12.2129 13.1758 12.3145 13.0488L12.8984 12.4648C13.0254 12.3633 13.0254 12.1602 12.8984 12.0332ZM5.28125 9.46875C3.02148 9.46875 1.21875 7.66602 1.21875 5.40625C1.21875 3.17188 3.02148 1.34375 5.28125 1.34375C7.51562 1.34375 9.34375 3.17188 9.34375 5.40625C9.34375 7.66602 7.51562 9.46875 5.28125 9.46875Z' fill='white' fill-opacity='0.48'/%3E%3C/svg%3E%0A");
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}