.static_table {
  width: calc(100% + 40px);
  margin-left: -20px;
  background: #3D404B;
  .checkbox-container {
    min-width: 15px;
    height: 16px;
    margin: 0 10px 0 15px;
    padding: 0;
    transform: translateY(1px);
  }
  .tbody {
    & > div {
      display: flex;
      flex-direction: row;
      background: transparent;
      transition-duration: .3s;
      border-bottom: 1px solid #4F5158;
      &:hover {
        background: #2C2F38;
        transition-duration: .3s;
        .row-actions {
          display: flex;
          opacity: 1;
          transition-duration: .3s;
        }
      }
      & > div {
        height: 40px;
        padding: 12px 5px;
        white-space: nowrap;
        display: flex;
        flex-direction: row;
        font-size: 13px;
        color: rgba(255,255,255,0.89);
        align-items: center;
      }
    }
    .trimmed {
      overflow: hidden; // Обрезаем то, что выходит за рамки блока
      text-overflow: ellipsis;
      display: inline;
    }
    .row-actions {
      display: none;
      flex-direction: row;
      padding: 0 6px;
      opacity: 0;
      margin-right: 4px;
      transition-duration: .3s;
      & > div:nth-of-type(1) {
        margin-right: 13px;
      }
      div {
        display: flex;
        cursor: pointer;
      }
    }
   }

   .thead {
     & > div {
       display: flex;
       flex-direction: row;

       border-bottom: 1px solid #62646D;
       &:hover {
         background: #2C2F38;
         transition-duration: .3s;
       }
       & > div {
         height: 40px;
         padding: 12px 5px;
         white-space: nowrap;
         display: flex;
         flex-direction: row;
         font-size: 13px;
         font-weight: bold;
         color: rgba(255,255,255,0.89);
         align-items: center;
       }

     }

     .triangle {
       width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 4px 0 4px;
        border-color: rgba(255,255,255,0.6) transparent transparent transparent;
        margin-left: 10px;
        margin-top: 3px;
        cursor: pointer;
        transition-duration: .3s;
        &:hover, &.active {
          border-color: rgba(255,255,255,1) transparent transparent transparent;
          transition-duration: .3s;
        }
        &.down {
          transform: rotate(180deg);
        }
     }
  }
}
