.tabs_manager {
  height: 50px;
  background: #3D404B;
  border-top: 1px solid #2C2F38;
  padding-top:  14px;
  padding-left: 15px;
  color:  rgba(255,255,255,0.86);
  span {
    margin-right: 22px;
    font-weight: bold;
    cursor:pointer;
    &:hover {
      color:rgba(255,255,255,0.39)
    }
    &:active {
      color:  rgba(255,255,255,0.86);
    }
    &.active {
      color: #9BAAD4;
      svg {
        path {
          fill: #9BAAD4;
        }
      }
    }

  }
  svg {
    margin: 0 4px;
    transform:translateY(1px);
    path {
      fill: rgba(255,255,255,0.39);
    }
  }
}
